* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.loading {
  position: absolute;
  left: 40%;
  top: 40%;
  width: 20%;
  z-index: 10;
  color: aliceblue;
  font-size: 44px;
}
.hidden {
  display: none;
}
.player-title {
  position: absolute;
  left: 40%;
  top: 5%;
  color: rgba(127, 181, 228, 0.486);
  font-size: 48px;
  font-style: italic;
}
.start-btn {
  position: absolute;
  top: 35vh;
  left: 30px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}
.start-btn:active {
  box-shadow: none;
}
